<h1>Login</h1>
    <form (ngSubmit)="onSubmit()" >
      <div class="form-outline w-25" *ngIf="!isLoggedIn()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" >
      </div>
      <div class="form-outline w-25" *ngIf="!isLoggedIn()">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control">
      </div>
      <br>
      <button  *ngIf="!isLoggedIn()" type="submit" class="btn btn-primary">Login</button>
      <button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
    
    </form>

